.about-me{
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: center;
    margin-bottom: 3%;
}
.about{
    margin:auto; 
    margin-left: -15%;
}
.about-paragraph{
    background-color:  rgba(255, 228, 196, 0.468);
    padding: 5% 0;
    border-radius: 40px;
}
.about-paragraph p{
    margin:0 5%;
}
.arrow-down{
    display: none;   
}
.arrow-right{
    display: inline-block;
}

@media all and (max-width:950px){
   .about-me{
    grid-template-columns: 90%;
    margin-bottom: 0px;
   } 
   .about{
    margin:0 auto;
   }
   .about-title{
    margin-left:22px;
   }
   .about h2{
    margin-top:0px;
    margin-bottom: 0px;
   }
   .arrow-right{
    display: none;
   }
   .arrow-down{
    display:block; 
    text-align: center;
   }
   
}