.contact{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
.contact img{
    width: 100%;
    height: 100%; 
}
.contact-form{
    height: 100%;
    background-color:rgba(255, 228, 196, 0.468) ;
    padding-left:4.2vw;
    line-height: 30px;
    align-items: center;
}
#contact-subject, #contact-name, #contact-mail{
    width:89%; 
    height:25px;
}
#contact-explanation{
    width: 89%;
}
.contact-form h4{
    margin-left: 0;
    font-size: 30px;
}
.contact-defn{
    margin-top: 0;
}
.submit{
    background-color: rgb(38, 233, 247);
    font-size: 2vw;
    margin-left: 28vw;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 9vw;
    height: 3.5vw;
    border-radius: 2px;
    cursor: pointer;
}
.contact-error {
    display: none;
    color: red;
    text-align: center;
    margin-top:0;
    bottom: 0;
}

@media all and (max-width: 950px){
    .contact{
        grid-template-columns: 70%;
    }
    .submit{
        margin-left: 45vw;
        width: 70px;
        height:37px;
        font-size: 20px;
    }
}

@media all and (max-width: 600px){
    .contact{
        grid-template-columns: 90%;
    }
    .submit{
        margin-left: 60vw;
    }
}

@media all and (max-width: 400px){
    .submit{
        margin-left: 55vw;
    }
}