.my-image{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5%;
    justify-content: space-between;
}
.my-image-left{
    background-color: rgba(255, 228, 196, 0.468);
    text-align: center;
}
.my-image-right{
    margin: auto;
}
.my-image-right img{
    width:65%;
    height:60%;
}
.front-end{
    font-size: 6vw
}
.kort-description{
    font-size: 25px;
    margin-top:30%
}
.view-more{
    width: 20%;
    height:7%;
    font-size: 20px;
    margin-bottom:10%;
    background-color: rgb(38, 233, 247);
    cursor: pointer;
}
.my-image-small{
    display:none;
}
@media all and (max-width:950px){
    .view-more{
        width: 30%;
    }
}

@media all and (max-width:620px){
    .my-image{
        grid-template-columns: 100%;
    }
    .my-image-small{
        display:block;
    }
    .my-image-right{
        display: none;
    }
    .my-image-small img{
        width:65%;
        height:60%;
    }
    .kort-description{
        margin-top:8%;
        font-size: 20px;
    }
}
@media all and (max-width:350px){
    .view-more{
        width: 35%;
    }
}