.projects{
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
}
.projects-image{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-color: rgba(255, 228, 196, 0.468);
    border-radius: 40px;
}
.project-title{
    margin: auto;
    margin-left: -15%;
}
.projects-image img{
    width:60%;
}
.arrow-down{
    display: none;   
}
.arrow-right{
    display: inline-block;
}

@media all and (max-width:950px){
    .projects{
     grid-template-columns: 90%;
     margin-bottom: 0px;
    } 
    .project-title{
     margin:0 auto;
    }
    .about-title{
     margin-left:22px;
    }
    .project-title h2{
     margin-top:0px;
     margin-bottom: 0px;
    }
    .arrow-right{
     display: none;
    }
    .arrow-down{
     display:block; 
     text-align: center;
    }
    
 }